h1,
h3,
h4,
h5,
p,
.card {
  text-align: center;
  position: relative;
}
h1 {
  top: 50px;
}
h2 {
  left: 130px;
  position: relative;
  top: 20px;
  font-size: 48px;
}
h3 {
  font-weight: 700px;
  top: 50px;
}
h4 {
  right: 160px;
  top: 70px;
}
h5 {
  bottom: -100px;
}
#end {
  position: fixed;
  bottom: 20px;
  left: 50px;
}
#endl {
  position: fixed;
  bottom: 20px;
  left: 190px;
}
body {
  background: linear-gradient(to top, #fff1eb 0%, #2183b1 100%);
}
#userCity,
#uc {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(155, 166, 236);
  cursor: pointer;
}
#location {
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(126, 150, 155);
  cursor: pointer;
}
#degr {
  margin-top: 0;
}
#temperature {
  font-size: 28px;
  font-weight: bold;
}
.card-body {
  box-shadow: 5px 5px 10px rgb(7, 196, 234);
  font-size: 20px;
}
#daily-forecast-temp-max,
#daily-forecast-temp-min {
  font-size: 15px;
}
